<a href="https://colab.research.google.com/github/ahnafwarith/oop-5/blob/main/OOP_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [2]:
#Write your code here
class Marks:
  def __init__(self,x):
    self.mark = x
  def __add__(self,other):
    total = self.mark + other.mark
    return Marks(total)
#Do not change the following lines of code
Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

# Output
# Sample Input 1:
# Quiz 1 (out of 10): 10
# Quiz 2 (out of 10): 10
# Lab (out of 30): 30
# Mid (out of 20): 20
# Final (out of 30): 30
# Sample Output 1:
# Total marks: 100
# Sample Input 2:
# Quiz 1 (out of 10): 10
# Quiz 2 (out of 10): 8
# Lab (out of 30): 30
# Mid (out of 20): 20
# Final (out of 30): 29
# Sample Output 2:
# Total marks: 97

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 8
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 29
Total marks: 97

2

In [ ]:
class Teacher:
  def __init__(self,name,sub):
    self.__name = name
    self.__sub = sub
    self.__courses = []
  
  def addCourse(self,obj):
    self.__courses.append(obj.name)

  def printDetail(self):
   print("====================================")
   print(f"Name: {self.__name}")
   print(f"Department: {self.__sub}")
   print("List of courses")
   print("====================================")
   for course in self.__courses: print(course)
   print("====================================")

class Course:
  def __init__(self,name):
    self.name = name

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

# Output:
# ====================================
# Name: Saad Abdullah
# Department: CSE
# List of courses
# ====================================
# CSE 110 Programming Language I
# CSE 111 Programming Language-II
# ====================================
# ====================================
# Name: Mumit Khan
# Department: CSE
# List of courses
# ====================================
# CSE 220 Data Structures
# CSE 221 Algorithms
# CCSE 230 Discrete Mathematics
# ====================================
# ====================================
# Name: Sadia Kazi
# Department: CSE
# List of courses
# ====================================
# CSE 310 Object Oriented Programming
# CSE 320 Data Communications
# CSE 340 Computer Architecture
# ====================================

====================================
Name: Saad Abdullah
Department: CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department: CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department: CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
# Write your code here for subtasks 1-4
class Team:
  def __init__(self,name=""):
    self.name = name
    self.players = []

  def setName(self,name):
    self.name = name

  def addPlayer(self,player):
    self.players.append(player.name)

  def printDetail(self):
    print("=====================")
    print(f"Team: {self.name}")
    print("List of Players:")
    print(f"{self.players}")
    print("=====================")

class Player:
  def __init__(self,name=""):
    self.name = name

b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

# Output:
# =====================
# Team: Bangladesh
# List of Players:
# ['Mashrafi', 'Tamim']
# =====================
# =====================
# Team: Australia
# List of Players:
# ['Ponting', 'Lee']
# =====================

=====================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
=====================
=====================
Team: Australia
List of Players:
['Ponting', 'Lee']
=====================

In [ ]:
#Write your code here
class Color:
  def __init__(self,x):
    self.clr = x

  def __add__(self,other):
    check = self.clr + other.clr
    if check == 'redyellow' or check == 'yellowred': res = 'Orange' 
    if check == 'redblue' or check == 'bluered': res = 'Violet' 
    if check == 'yellowblue' or check == 'blueyellow': res = 'Green' 
    return Color(res)
#Do not change the following lines of code
C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

# Sample Input 1:
# First Color: red
# Second Color: yellow
# Sample Output 1:
# Color formed: Orange
# Sample Input 2:
# First Color: red
# Second Color: blue
# Sample Output 2:
# Color formed: Violet
# Sample Input 3:
# First Color: yellow
# Second Color: BLUE
# Sample Output 3:
# Color formed: Green

First Color: blue
Second Color: red
Color formed: Violet

5

In [ ]:
import math
class Circle:
  def __init__(self,x):
    self.__radius = x

  def getRadius(self):
    OO = self.__radius
    return OO
  
  def area(self):
    area = math.pi * (self.__radius**2)
    return area

  def __add__(self,other):
    total = self.__radius + other.__radius
    return Circle(total)
# Write your code here for subtasks 1-5
c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

# Output:
# First circle radius: 4
# First circle area: 50.26548245743669
# Second circle radius: 5
# Second circle area: 78.53981633974483
# Third circle radius: 9
# Third circle area: 254.46900494077323

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

6

In [ ]:
class Triangle:
  def __init__(self,x,y):
    self.__base = x
    self.__height = y
  
  def getBase(self):
    return self.__base
  def getHeight(self):
    return self.__height

  def setBase(self,base):
    self.__base = base
  def setHeight(self,height):
    self.__height = height

  def area(self):
    area = (self.__base * self.__height)/2
    return area

  def __sub__(self,other):
    height = self.__height - other.__height
    base = self.__base - other.__base
    return Triangle(base,height)
# Write your code here for subtasks 1-5
t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

# Output:
# First Triangle Base: 10
# First Triangle Height: 5
# First Triangle area: 25.0
# Second Triangle Base: 5
# Second Triangle Height: 3
# Second Triangle area: 7.5
# Third Triangle Base: 5
# Third Triangle Height: 2
# Third Triangle area: 5.0

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [10]:
class Dolls:
  def __init__(self,name,number):
    self.gift = name
    self.number = number
  
  def __gt__(self,other):
    if self.number > other.number:
      return True
    else:
      return False

  def __add__(self,other):
    nameV = self.gift + " " + other.gift
    numberV = self.number + other.number
    return Dolls(nameV,numberV)

  def detail(self):
    return f'Doll: {self.gift}\nTotal Price: {self.number} taka'
# Write your code here
obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")

# Output:
# Doll: Tweety
# Total Price: 2500 taka
# Thank you!
# =========================
# Doll: Daffy Duck
# Total Price: 1800 taka
# Thank you!
# =========================
# Doll: Bugs Bunny
# Total Price: 3000 taka
# Congratulations! You get the Tweety as a gift!
# =========================
# Doll: Porky Pig
# Total Price: 1500 taka
# Thank you!
# =========================
# Dolls: Daffy Duck Bugs Bunny
# Total Price: 4800 taka
# Congratulations! You get the Tweety as a gift!

Doll: Tweety
Total Price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500 taka
Thank you!
=========================
Doll: Daffy Duck Bugs Bunny
Total Price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [ ]:
class Coordinates:
  def __init__(self,x,y):
    self.x = x
    self.y = y

  def __sub__(self,other):
    fX = self.x - other.x
    fY = self.y - other.y
    return Coordinates(fX,fY)
  
  def __mul__(self,other):
    fX = self.x * other.x
    fY = self.y * other.y
    return Coordinates(fX,fY)

  def __eq__(self,other):
    if self.x == other.x and self.y == other.y:
      return f"The calculated coordinates are the same."
    else:
      return f"The calculated coordinates are NOT the same."
  
  def detail(self):
    return (self.x,self.y)
#Write your code here
#Do not change the following lines of code
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)

# Sample Input 1:
# 1
# 2
# 3
# 4
# Sample Output 1:
# (-2,-2)
# (3,8)
# The calculated coordinates are NOT the same.
# Sample Input 2:
# 0
# 0
# 0
# 0
# Sample Output 2:
# (0,0)
# (0,0)
# The calculated coordinates are the same.

1
2
3
4
(-2, -2)
(3, 8)
The calculated coordinates are NOT the same.